    <div class="flex">
        <div class="navOff">
            <%= link_to "Make Lines", lines_path%>
        </div>
        <div class="navOff">
            <%= link_to "FAQs", faqs_path%>
        </div>
        <div class="navOff">
            <%= link_to "Load Lines", loadlines_path%>
        </div>
    </div>


    

