<body style="background-image: url(/assets/617C58.jpg)">
<div class="container">
<p style="color: green"><%= notice %></p>

<br>

<h1>edit.html.erb</h1>

<br>

<%= render @line %>

<br>

<%= render "form", line: @line %>

<br>

</div>
</body>