<div class="container">
<p style="color: green"><%= notice %></p>

<br>

<h1>FAQs</h1>
<p>http://127.0.0.1:3000/faqs</p>

<br>

<p>What is Lotto?</p>
<p>Lotto is a simple and fun number draw game in which you can pick any six numbers from 1
to 47. At each draw six random numbers are drawn, along with one bonus number.</p>

<br>

<p>How much is a Lotto ticket?</p>
<p>The minimum play for Lotto is two lines per draw, which costs €4. You can play additional
lines for €2 per line.</p>

<br>

<p>What's the Lotto jackpot?</p>
<p>The minimum jackpot is €2 million and rolls up from there if the jackpot is not won.</p>

<br>

<p>What is the current Lotto jackpot cap?</p>
<p>The Lotto Jackpot is capped if it reaches €19.06 million.
For any draw when the Jackpot is at cap and there is no jackpot winner, the amount of the
prize fund in excess of the Jackpot prize cap will roll down and be allocated to the next
highest prize tier at which there is at least one winner for that draw.
The Jackpot may remain at cap for a maximum of 5 draws. If still unwon on the fifth draw it
becomes a Will Be Won draw, where if there is no winner of the Jackpot, then the Jackpot
prize and excess will roll down and be allocated to the next highest prize tier at which there
is at least one winner.</p>

<br>

<p>When are the Lotto draws?</p>
<p>Draw days are every Wednesday and Saturday at 7.55pm. You can find out the results on our
results page (/draw-games/results/view?game=lotto) after 9.15pm on the night of the draw.
Sales close at 7.45pm precisely until 7.55pm on draw days.</p>

<br>

<p>Where can I watch the Lotto draws live?</p>
<p>The draws can be seen live on RTÉ One every Wednesday and Saturday at 7.55pm.</p>

<br>

<p>Where can I watch the Lotto draws live?</p>
<p>The draws can be seen live on RTÉ One every Wednesday and Saturday at 7.55pm.</p>

</div>