<div class="container">
<p style="color: green"><%= notice %></p>

<br>

<h1>Load Lines</h1>
<p>http://127.0.0.1:3000/loadlines</p>

<br>

<div id="lines">
  <% @lines.each do |line| %>
    <%= render line %>
    <p>
      <%= link_to "Show this line", line %>
    </p>
  <% end %>
</div>

</div>

</div>