<body style="background-image: url(/assets/617C58.jpg)">
<div class="container">
<p style="color: green"><%= notice %></p>

<br />

<h1>show.html.erb</h1>

<%= render @line %>

<div>
  <%= link_to "Edit this line", edit_line_path(@line) %>

  <%= button_to "Destroy this line", @line, method: :delete %>
</div>
</div>
</body>